<header>

    <nav class="navbar bg-success navbar-expand-md navbar-background">

        <th:block th:if="${session.username == null}">
            <a class="navbar-brand text-white h4" href="/">Cookbook</a>
        </th:block>

        <th:block th:unless="${session.username == null}">
            <a class="navbar-brand text-white h4" href="/home">Cookbook</a>
        </th:block>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <th:block th:if="${session.username == null}">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/login">Login</a>
                    </li>
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" href="/register">Register</a>
                    </li>
                </th:block>

                <th:block th:unless="${session.username == null}">

                    <th:block
                            th:unless="${session.chefName == null}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/recipes/recipebook">Recipebook</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/recipes/create">Create Recipe</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" th:href="@{'/chefs/details/' + ${session.chefName}}">Chef</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/users/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <form th:action="@{/logout}" method="post">
                                <button class="nav-link active h5" type="submit">Logout</button>
                            </form>
                        </li>
                    </th:block>

                    <th:block
                            th:if="${session.chefName == null}">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/recipes/create">Create Recipe</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/chefs/create">Create Chef</a>
                        </li>
                        <li class="nav-item mr-2">
                            <form th:action="@{/logout}" method="post">
                                <button class="nav-link text-white active h5" type="submit">Logout</button>
                            </form>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>

    </nav>

</header>