<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<link rel="stylesheet" href="/css/recipebook.css">
<body>
<th:block th:include="~{_shared/header}"/>
<main class="container">
    <div class="container hwite bg-blur">
    <h1 class="text-center">Recipe Book</h1>
    </div>
    <hr class="hr-3"/>
    <table class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Taste</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="recipes-table">
        </tbody>
    </table>
</main>
<th:block th:include="~{_shared/footer}" />
<th:block th:include="~{_shared/loader}" />
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/js/recipes.js"></script>
</body>
</html>