<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main class="container">

    <div class="container bg-blur">
    <h1 class="text-center">Users List</h1>
    </div>

    <table style="color:white" class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>

        </thead>
        <tbody id="users-table">
        <tr th:each="admin : ${admin_users}">
            <td th:text="${admin.username}"></td>
            <td th:each="admin_authority : ${admin.authorities}">
                <span th:text="${admin_authority.authority}"></span>
            </td>
            <td>
                <a sec:authorize="hasAuthority('ROOT')" class="btn btn-danger"
                   th:href="@{'/users/demote/'+${admin.id}}">Demote</a>
            </td>
        </tr>
        <tr th:each="simple_user : ${user_users}">
            <td th:text="${simple_user.username}"></td>
            <td th:each="user_authority : ${simple_user.authorities}">
                <span th:text="${user_authority.authority}"></span>
            </td>
            <td>
                <a sec:authorize="hasAuthority('ROOT')" class="btn btn-success"
                   th:href="@{'/users/promote/'+${simple_user.id}}">Promote</a>
            </td>
        </tr>
        </tbody>
    </table>

</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>