<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container bg-blur">
        <div class="text-center">
            <h1 style="color:white;">You are not authorized to be here!!!</h1>
            <h1 style="color:white;" th:text="${message}"></h1>
        </div>
    </div>
</main>

</body>
</html>