
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container bg-blur">
    <div class="text-center mb-3">
        <h2 class="text-white mt-2">Welcome to the cookbook, [[${session.username}]]</h2>
    </div>
    <hr class="my-1"/>
    <div class="container">
        <div class="text-center text-light">
            <th:block th:if="${session.chefName == null}">
                <h4>User, you don't have a chef. Click below and create one.</h4>
                <a href="/chefs/create" class="btn btn-secondary">Create chef</a>
            </th:block>
            <th:block th:unless="${session.chefName == null}">
                <h4>User, you already have a chef.</h4>
            </th:block>
            <hr class="my-1"/>
            <div class="text-center mb-3">
                <h3 class="text-white mt-2">List of all chefs:</h3>
            </div>
            <th:block th:if="${chefs}">
                <div class="row flex-md-row" th:each="chef : ${chefs}">
                    <div class="col text-center">
                        <img th:src="@{'/img/' +${chef.gender} + '.jpg'}" width="150">
                        <h4 class="text-white">Name - [[${chef.name}]]</h4>
                        <h4 class="text-white">Skill - [[${chef.skill}]]</h4>
                        <h4 class="text-white">Reputation - [[${chef.reputation}]]</h4>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    </div>
</main>
<th:block th:include="~{_shared/footer}" />
</body>
</html>
