
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container hwite">
        <h1>Welcome to Cookbook!</h1>
        <hr class="my-3"/>
        <p class="h4">The fastest growing cooking social media.</p>
        <p class="h4">You will find many delicious recipes and skilled chefs.</p>
        <hr class="my-3"/>
        <h3><a href="/login">Login</a> if you have an account or
            <a href="/register">Register</a> now and meet the greatest chefs of all time.
        </h3>
    </div>
</main>
<th:block th:include="~{_shared/footer}" />
</body>
</html>