
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Your Chef</h1>
            <hr class="my-1"/>
            <div>
                <div class="row">
                    <div class="col">
                        <h3 class="align-middle">Name - [[${chef.name}]]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <th:block th:switch="${chef.gender.name()}">
                            <img th:case="'MALE'" src="/img/male.jpg" alt="photo"
                                 class="align-middle" height="175"
                                 width="150"/>
                            <img th:case="'FEMALE'" src="/img/female.jpg" alt="photo"
                                 class="align-middle" height="175"
                                 width="150"/>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="">Skill - [[${chef.skill}]]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="">Reputation - [[${chef.reputation}]]</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{_shared/footer}" />
</body>
</html>